<% @trip.itinerary.questions.each_with_index do |question, index| %>
  <div class="d-flex flex-column question-index d-none" data-index="<%= index %>"
       data-progress="<%= (index + 1) * 20 %>" data-questions-target="question">
    <div class="d-flex flex-column">
      <h2 class="d-flex justify-content-center mb-0">Question <%= index + 1 %></h2>
      <p class="text-center mb-0"><%= question.question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center questions-wrapper">
      <% question.answer_statement.each do |answer|  %>
        <% if answer == question.good_answer %>
          <div class='btn btn-outline-primary btn-question m-1' data-action='click->questions#goodAnswer'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary btn-question m-1' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
