
<div class="d-flex flex-column quizz-wrapper align-items-center" data-controller="questions">
  <h2><strong>Le quizz Malouin</strong></h2>
  <div class='background-progress'>
    <div data-questions-target="progress" class="progress-bar">
    </div>
  </div>
  <div class='d-flex flex-column question-index' data-questions-target="one"> <%# 1ère question %>
    <div>
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex flex-column">
      <h2 class="d-flex justify-content-center mb-0">Question 1</h2>
      <p class="text-center mb-0"><%= @trip.itinerary.questions[0].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center questions-wrapper">
      <%# propositions %>
      <% @trip.itinerary.questions[0].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[0].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer1'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="two" class='d-none d-flex flex-column question-index'> <%# 2ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex flex-column">
      <h2 class="d-flex justify-content-center mb-0">Question 2</h2>
      <p class="text-center mb-0"><%= @trip.itinerary.questions[1].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center questions-wrapper">
      <%# propositions %>
      <% @trip.itinerary.questions[1].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[1].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer2'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="three" class='d-none d-flex flex-column question-index'> <%# 3ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex flex-column">
      <h2 class="d-flex justify-content-center mb-0">Question 3</h2>
      <p class="text-center mb-0"><%= @trip.itinerary.questions[2].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center questions-wrapper">
      <%# propositions %>
      <% @trip.itinerary.questions[2].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[2].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer3'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="four" class='d-none d-flex flex-column question-index'> <%# 4ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex flex-column">
      <h2 class="d-flex justify-content-center mb-0">Question 4</h2>
      <p class="text-center mb-0"><%= @trip.itinerary.questions[3].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center questions-wrapper">
      <%# propositions %>
      <% @trip.itinerary.questions[3].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[3].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer4'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="five" class='d-none d-flex flex-column question-index'> <%# 5ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex flex-column">
      <h2 class="d-flex justify-content-center mb-0">Question 5</h2>
      <p class="text-center mb-0"><%= @trip.itinerary.questions[4].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center questions-wrapper">
      <%# propositions %>
      <% @trip.itinerary.questions[4].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[4].good_answer %>
          <div id="confetti" class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer5'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <div data-questions-target="six" class="d-none d-flex flex-column justify-content-center mt-15">
      <h2 class="question-center">Félicitations ! A bientôt pour de nouvelles aventures !</h2>
      <%= image_tag "quizz_fin_image.jpg", class: 'quizz-image', crop: :fill %>
      <p>Ajouter une note</p>
      <%= simple_form_for(@itinerary) do |f| %>
        <div class="star-rating" data-controller='rating'>
          <% (1..5).each do |value| %>
            <%= label_tag "rating_#{value}", class: 'star',
                data: { action: "click->rating#updateStars#{value}" } do %>
              <svg class='emptystar-svg' width="16" height="15" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.396 6.47525L16.3959 6.47537M16.396 6.47525L16.3961 6.47522L16.3959 6.47537M16.396 6.47525C16.396 6.47529 16.396 6.47533 16.3959 6.47537M16.396 6.47525L16.3959 6.47537M12.68 10.1176L12.4932 10.3007L12.5371 10.5587L13.3537 15.3516L9.07986 13.0896L8.8461 12.9659L8.61229 13.0895L4.33414 15.3512L5.15162 10.5582L5.19563 10.3002L5.00867 10.117L1.54366 6.72192L6.32598 6.02312L6.58635 5.98507L6.70242 5.74892L8.84374 1.39227L10.9831 5.75144L11.0992 5.98798L11.36 6.02594L16.144 6.72231L12.68 10.1176ZM4.01588 15.5195C4.01601 15.5194 4.01614 15.5193 4.01627 15.5192L4.01589 15.5194L4.01588 15.5195ZM1.19314 6.77314C1.1931 6.77315 1.19307 6.77315 1.19304 6.77315L1.19314 6.77314ZM9.00307 1.06809C9.00299 1.06826 9.00291 1.06843 9.00282 1.0686L9.003 1.06823L9.00307 1.06809Z" fill="white" stroke="#F8A325"/>
              </svg>
              <svg class='star-svg d-none' width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4382 15.962C13.675 16.0871 13.9519 15.8849 13.9066 15.6197L13.03 10.4746L16.746 6.83227C16.9376 6.64448 16.8318 6.31713 16.5669 6.27856L11.4319 5.53109L9.13337 0.847618C9.01486 0.606295 8.67273 0.606295 8.55421 0.847618L6.25363 5.52831L1.12069 6.27835C0.855833 6.31694 0.75002 6.64429 0.941638 6.83206L4.65868 10.4741L3.78115 15.6191C3.73588 15.8844 4.01277 16.0866 4.24951 15.9614L8.84591 13.5315L13.4382 15.962Z" fill="#F8A325"/>
              </svg>
            <% end %>
            <%= f.radio_button :rates, value, id: "rating_#{value}", class: 'star-input visually-hidden' %>
          <% end %>
        </div>
        <%= f.submit "Valider" %>
      <% end %>
      <%= link_to 'Retourner aux itinéraires', itineraries_path, class: 'btn full-width-div btn-primary' %>
    </div>
  </div>
</div>
<script>
  document.querySelector("#confetti").addEventListener("click", () => {
    setTimeout(() => {
      for (let index = 0; index < 8; index++) {
        confetti({
          origin: {
            x: Math.random(),
            y: Math.random()
          }
        });
      }
    },2000)
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
