
<div class="d-flex flex-column quizz-wrapper" data-controller="questions">
  <div class='background-progress'>
    <div data-questions-target="progress" class="progress-bar">
    </div>
  </div>
  <div class='d-flex flex-column question-index' data-questions-target="one"> <%# 1ère question %>
    <div>
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Question 1</h2>
    </div>
    <div>
      <p><%= @trip.itinerary.questions[0].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <%# propositions %>
      <% @trip.itinerary.questions[0].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[0].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer1'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="two" class='d-none d-flex flex-column question-index'> <%# 2ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Question 2</h2>
    </div>
    <div>
      <p><%= @trip.itinerary.questions[1].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <%# propositions %>
      <% @trip.itinerary.questions[1].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[1].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer2'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="three" class='d-none d-flex flex-column question-index'> <%# 3ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Question 3</h2>
    </div>
    <div>
      <p><%= @trip.itinerary.questions[2].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <%# propositions %>
      <% @trip.itinerary.questions[2].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[2].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer3'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="four" class='d-none d-flex flex-column question-index'> <%# 4ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Question 4</h2>
    </div>
    <div>
      <p><%= @trip.itinerary.questions[3].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <%# propositions %>
      <% @trip.itinerary.questions[3].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[3].good_answer %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer4'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="five" class='d-none d-flex flex-column question-index'> <%# 5ème question %>
    <div class="question-img">
      <%= cl_image_tag @trip.itinerary.photos.first.key, class: 'question-img', crop: :fill %>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Question 5</h2>
    </div>
    <div>
      <p><%= @trip.itinerary.questions[4].question_statement %></p>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <%# propositions %>
      <% @trip.itinerary.questions[4].answer_statement.each do |answer|  %>
        <% if answer == @trip.itinerary.questions[4].good_answer %>
          <div id="confetti" class='btn btn-outline-primary question-btn m-1' data-questions-target='goodone' data-action='click->questions#goodanswer5'>
            <%= answer %>
          </div>
        <% else %>
          <div class='btn btn-outline-primary question-btn m-1' data-questions-target='badone' data-action='click->questions#badanswer'>
            <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-questions-target="six" class="d-none">
    <h2>Bravo ! A très bientôt pour une nouvelle aventure !</h2>
    <%= link_to 'Retourner aux itinéraires', itineraries_path, class: 'btn btn-primary' %>
  </div>
</div>
<script>
  document.querySelector("#confetti").addEventListener("click", () => {
    setTimeout(() => {
      for (let index = 0; index < 8; index++) {
        confetti({
          origin: {
            x: Math.random(),
            y: Math.random()
          }
        });
      }
    },2000)
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
