<div class="cards-wrapper">
  <div class="d-flex cards">
    <% itineraries.each do |itinerary| %>
      <div class="card" data-switch-target="<%= itinerary.category %>" data-filter="<%= itinerary.category %>">
        <%= link_to itinerary_path(itinerary) do %>
          <div class="card-img position-relative">
            <%= cl_image_tag itinerary.photos.first.key, height: 160, width: 285, crop: :fill %>
            <div class="card-details">
              <div class="card-show-itinerary-infos text-small card-index-details">
                <div><%= image_tag "steps.svg" %> <%= itinerary.distance %> km</div>
                <div><%= image_tag "hourglass.svg" %> <%= itinerary.duration / 60 %> h <%=  itinerary.duration % 60 if itinerary.duration % 60 != 0 %></div>
              </div>
              <div>
                <% rating(itinerary).times do |i| %>
                  <%= image_tag "star.svg" %>
                <% end %>
                <% (5 - rating(itinerary)).times do |i| %>
                  <%= image_tag "emptystar.svg" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-infos">
            <h4><%= itinerary.name %></h4>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
