<div data-controller="switch">
  <div class="d-flex justify-content-between phone-navbar align-items-center">
    <%= link_to root_path do %>
      <%= image_tag('navbar/home.svg') %>
    <% end %>
    <%= image_tag('navbar/list.svg', data: { action: "click->switch#displayList", switch_target: "my-anchor svglist" }) %>
    <%= image_tag('navbar/map.svg', data: { action: "click->switch#displayMap", switch_target: "my-anchor svgmap" }) %>
    <%= image_tag('navbar/profil.svg') %>
    <div class="dropdown-menu doprdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Historiques", class: "dropdown-item" %>
      <%= link_to "Favoris", class: "dropdown-item" %>
      <%= link_to "Parcours Sauvegardé", class: "dropdown-item" %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
  </div>
  <div data-switch-target="list" class="d-flex flex-column container-index overflow-hidden">
    <div class="d-flex justify-content-between">
      <h2>Itinéraires</h2>
      <%# Insérer le symbol des filtres qui fait apparaître la modal %>
    </div>
    <div class="d-flex justify-content-between checkbox-wrapper">
      <%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "d-none",
          value: "%"
        %>
        <%= submit_tag "Aucun", class: "btn btn-primary" %>
      <% end %>
      <%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "d-none",
          value: "Nature"
        %>
        <%= submit_tag "Nature", class: "btn btn-outline-primary" %>
      <% end %>
      <%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "d-none",
          value: "Urbain"
        %>
        <%= submit_tag "Urbain", class: "btn btn-outline-primary" %>
      <% end %>
      <%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "d-none",
          value: "Médiéval"
        %>
        <%= submit_tag "Médiéval", class: "btn btn-outline-primary" %>
      <% end %>
      <%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "d-none",
          value: "Préhistorique"
        %>
        <%= submit_tag "Préhistorique", class: "btn btn-outline-primary" %>
      <% end %>
    </div>

    <div>
      <div>
        <h3>Les plus courtes</h3>
      </div>

      <div class="cards-wrapper">
        <div class="d-flex cards">
          <% @itineraries.each do |itinerary| %>
            <div class="card">
              <%= link_to itinerary_path(itinerary) do %>
                <div class="card-img">
                  <%= cl_image_tag itinerary.photos.first.key, height: 160, width: 285, crop: :fill %>
                </div>
                <div class="card-infos">
                  <p class="text-x-small black-700"><%= itinerary.distance %>km | <%= itinerary.duration / 60 %> h <%= itinerary.duration % 60 %></p>
                  <h4><%= itinerary.name %></h4>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-wrapper cards-fixed d-none" data-switch-target="cardsForMap">
    <div class="d-flex cards">
      <% @itineraries.each do |itinerary| %>
        <div class="card card-reduce">
          <%= link_to itinerary_path(itinerary), class:'d-flex align-items-center' do %>
            <%= cl_image_tag itinerary.photos.first.key, height: 100, width: 100, crop: :fill %>
            <div class="card-infos">
              <p class="text-x-small black-700"><%= itinerary.distance %>km | <%= itinerary.duration / 60 %> h <%= itinerary.duration % 60 %> min</p>
              <h4><%= itinerary.name %></h4>
              <span class="itinerary-infos d-none"><%= itinerary.latitude %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="position-relative wrapper-map">
    <!-- <div data-switch-target="map" class="d-none position-absolute" style="height:100vh;" id="itinerary-map"
      data-controller="itineraries"
      data-itineraries-markers-value="<%= @itineraries_markers.to_json %>"
      data-itineraries-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div> -->
    <div class="map-overlay"></div>
    <div  id="itinerary-map"
          class="opacity-0"
          data-switch-target="map"
          data-controller="itineraries"
          data-itineraries-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-itineraries-markers-value="<%= @itineraries_markers.to_json %>">
    </div>
  </div>
</div>
