<ul>
  <li>Nom :<%= @itinerary.name %></li>
  <li>Distance :<%= @itinerary.distance %>km</li>
  <li>Note :<%= @itinerary.rating %>/5</li>
  <li>Durée :<%= @itinerary.duration.fdiv(60) %>h</li>
  <li>Nombre d'étapes :<%= @itinerary.number_of_poi %></li>
</ul>


  <%= link_to "C'est parti !", trip_path, class:'btn btn-primary' %>
