<div class= "main_show_div">
  <div class= "card_show_itinerary" >
    <%= cl_image_tag @itinerary.photos.first.key, class: "show-image", crop: :fill %>
    <%= link_to itineraries_path, class: "button-return" do %>
      <i class="fa-solid fa-chevron-left"></i>
      <span>RETOUR</span>
    <% end %>
    <%= render 'bookmark' %>
  </div>
  <div class="banner-show">
    <h2><%= @itinerary.name %></h2>
  </div>

  <div class="card_show_itinerary_content">

    <div class="rating-stars">
      <% rating(@itinerary).times do |i| %>
        <%= image_tag "star.svg" %>
      <% end %>
      <% (5 - rating(@itinerary)).times do |i| %>
        <%= image_tag "emptystar.svg" %>
      <% end %>
    </div>
    <div class="card-show-itinerary-infos text-small d-flex flex-row justify-content-between gap-infos">
      <div><%= image_tag "steps.svg" %> <%= @itinerary.distance %> km</div>
      <div><%= image_tag "hourglass.svg" %> <%= @itinerary.duration / 60 %> h <%=  @itinerary.duration % 60 if @itinerary.duration % 60 != 0 %></div>
    </div>
  </div>

  <div class="card_show_description">
    <p class="big-size"><i> <%= @itinerary.subtitle %></i></p>
    <p><%= @itinerary.description %></p>
  </div>

  <div class="card_show_bottom">
    <%= simple_form_for [@itinerary, @trip] do |f| %>
      <%= f.submit "Allons-y", class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>
