<% @pois.each do |poi| %>
  <div class="d-flex justify-content-center">
    <div class="p-3 position-absolute custom-modal d-flex align-items-center justify-content-between d-none"
        data-fake-trip-target="modalCold">
      <div class="d-flex justify-content-center align-items-center icone-background">
        <%= image_tag "trumpet.svg" %>
      </div>
      <div class="d-flex flex-column my-0">
        <p class="m-0"><%= poi.clue_sentence %></p>
      </div>
    </div>
    <div class="p-3 position-absolute custom-modal d-flex flex-column d-none" data-fake-trip-target="modalWarm">
      <div class="mb-1">
        <%= image_tag poi.clue_image, class: "clueImage" %>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center icone-background">
          <%= image_tag "trumpet.svg" %>
        </div>
        <div class="d-flex flex-column">
          <p class="m-0">Indice supplémentaire... Tu approches !</p>
        </div>
      </div>
    </div>
    <div class="p-3 position-absolute custom-modal d-flex flex-column d-none" data-fake-trip-target="modalWarmer">
      <div class="d-flex mb-2 flex-row align-items-center">
        <div class="d-flex mx-2 my-0 justify-content-center align-items-center icone-background">
          <%= image_tag "trumpet.svg" %>
        </div>
        <p class="my-0">Secret trouvé, bravo !</p>
      </div>
      <button data-action="click->fake-trip#showPoi" class="btn btn-modal btn-primary">Découvrir le secret</button>
    </div>
  </div>
<% end %>
