<h1>Suis la carte</h1>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<h2>Cherche le mystère</h2>
<%= render 'pop_up_warm' %>
<%= render 'pop_up_cold' %>
<%= render 'pop_up_on_spot' %>

  <%= link_to "Reveal the secret", poi_path(Poi.last.id), class:'btn btn-primary' %>
