<div class="position-relative wrapper-map" data-controller="modal">
  <div class="position-absolute" style="width: 100vw; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-departure-markers-value="<%= @departure_marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="d-flex justify-content-center">
    <div class="position-absolute custom-modal-text d-none" data-modal-target="modalCold">
      <%= image_tag "trumpet.svg" %>
      <p>Le mystère se rapproche</p>
      <p>Regarde vers la lumière</p>
    </div>
    <div class="position-absolute custom-modal-img d-none" data-modal-target="modalWarm">
      <%= image_tag "trumpet.svg" %>
      <p>Petit indice :</p>
      <%= image_tag "cat_dance.gif" %>
    </div>
    <div class="position-absolute custom-modal-finish d-none" data-modal-target="modalWarmer">
      <%= image_tag "trumpet.svg" %>
      <p>C'est la fin bravo !</p>
      <%= link_to "Reveal the secret", poi_path(Poi.last.id), class:'btn btn-primary' %>
    </div>
  </div>
  <div class="position-absolute plus-btn">
    <%= image_tag('plus.svg') %>
  </div>
</div>
