<div class="d-flex justify-content-between phone-navbar align-items-center px-3">
  <%= link_to 'root_path' do %>
    <%= image_tag('navbar/home.svg') %>
  <% end %>
  <%= link_to 'root_path' do %>
    <%= image_tag('navbar/list.svg') %>
  <% end %>
  <%= link_to 'root_path' do %>
    <%= image_tag('navbar/map.svg') %>
  <% end %>
  <%= link_to 'root_path' do %>
    <%= image_tag('navbar/profil.svg') %>
  <% end %>
</div>
