<div class="position-relative wrapper-home">
  <video class="position-absolute video" autoplay loop muted playsinline>
    <source src="<%= asset_path 'bretagne.mp4' %>" type="video/mp4">
  </video>
  <div class="position-absolute filter"></div>
  <div class="position-absolute wrapper-content">
    <h1 class='title'>Découvrez les secrets de la Bretagne</h1>
    <div class="rotating-text-wrapper">
      <p>Revivez l'histoire en parcourant les terres de Bretagne</p>
      <p>Voyagez à travers les nombreux secrets qui ont fait la légende de ce territoire</p>
      <p>Marchez sur les traces des anciens Bretons et plongez dans l'histoire fascinante de cette région</p>
    </div>
    <div class='form'>
      <%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Chercher par localisation"
        %>
        <%= image_submit_tag("search.svg", alt: "Rechercher", class: "btn form-btn btn-primary") %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= link_to "Découvrir des itinéraires", itineraries_path, class:'btn btn-primary' %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path, class:'btn btn-primary' %>
      <%= link_to "S'inscrire", new_user_registration_path, class:'btn btn-outline-primary'%>
    <% end %>
  </div>
</div>
