<h1>Pages#home</h1>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>

<%= form_with url: itineraries_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Chercher par localisation"
  %>
  <%= submit_tag "Rechercher", class: "btn btn-primary" %>
<% end %>


<%= link_to 'Se connecter', new_user_session_path, class:'btn btn-primary' %>
<%= link_to "S'inscrire", new_user_registration_path, class:'btn btn-outline-primary'%>
<%= link_to "Découvrir des itinéraires", itineraries_path, class:'btn btn-primary' %>
<div class="card"></div>
