<div class="d-flex flex-column container-profile">

  <h1>Votre profil</h1>

  <h2 style="margin-top: 10px; margin-bottom: 0px">Vos itinéraires favoris</h2>



  <% @favorite_itineraries.each do |itinerary| %>
    <div class="card card-profile">
      <%= link_to itinerary_path(itinerary), class:'d-flex align-items-center' do %>
        <%= cl_image_tag itinerary.photos.first.key, height: 110, width: 100, crop: :fill %>
        <div class="card-infos">
          <% if (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 1 %>
            <%= image_tag "star.svg" %>
            <%= image_tag "emptystar.svg" %>
            <%= image_tag "emptystar.svg" %>
            <%= image_tag "emptystar.svg" %>
            <%= image_tag "emptystar.svg" %>
          <% elsif (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 2 %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "emptystar.svg" %>
              <%= image_tag "emptystar.svg" %>
              <%= image_tag "emptystar.svg" %>

            </div>
          <% elsif (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 3 %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "emptystar.svg" %>
              <%= image_tag "emptystar.svg" %>
            </div>
          <% elsif (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 4 %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "emptystar.svg" %>
            </div>
          <% else %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
            </div>
          <% end %>
          <h4><%= itinerary.name %></h4>
          <div class="card-details">
            <div class="card-show-itinerary-infos align-items-center text-small card-index-details">
              <%= image_tag "steps.svg" %> <%= itinerary.distance %> km
              <%= image_tag "hourglass.svg" %> <%= itinerary.duration / 60 %> h <%=  itinerary.duration % 60 if itinerary.duration % 60 != 0 %>
            </div>
          </div>
          <span class="itinerary-infos d-none"><%= itinerary.latitude %></span>
        </div>
      <% end %>
    </div>
  <% end %>



  <h2 style="margin-top: 10px; margin-bottom: 0px">Itinéraires faits</h2>

  <% @completed_itineraries.each do |itinerary| %>
    <div class="card card-profile">
      <%= link_to itinerary_path(itinerary), class:'d-flex align-items-center' do %>
        <%= cl_image_tag itinerary.photos.first.key, height: 110, width: 100, crop: :fill %>
        <div class="card-infos">
          <% if (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 1 %>
            <%= image_tag "star.svg" %>
            <%= image_tag "emptystar.svg" %>
            <%= image_tag "emptystar.svg" %>
            <%= image_tag "emptystar.svg" %>
            <%= image_tag "emptystar.svg" %>
          <% elsif (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 2 %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "emptystar.svg" %>
              <%= image_tag "emptystar.svg" %>
              <%= image_tag "emptystar.svg" %>

            </div>
          <% elsif (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 3 %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "emptystar.svg" %>
              <%= image_tag "emptystar.svg" %>
            </div>
          <% elsif (itinerary.rates.sum / itinerary.rates.length).truncate(0) == 4 %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "emptystar.svg" %>
            </div>
          <% else %>
            <div>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
              <%= image_tag "star.svg" %>
            </div>
          <% end %>
          <h4><%= itinerary.name %></h4>
          <div class="card-details">
            <div class="card-show-itinerary-infos align-items-center text-small card-index-details">
              <%= image_tag "steps.svg" %> <%= itinerary.distance %> km
              <%= image_tag "hourglass.svg" %> <%= itinerary.duration / 60 %> h <%=  itinerary.duration % 60 if itinerary.duration % 60 != 0 %>
            </div>
          </div>
          <span class="itinerary-infos d-none"><%= itinerary.latitude %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= link_to 'Retour aux itinéraires', itineraries_path, class: 'btn btn-primary btn-center' %>
  </div>
  <div class="card-show-bottom"></div>
</div>
